<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>BookStore</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Moje Cv" />
    <meta name="keywords" content="cv, seba" />
    <meta name="author" content="seba" />
    <h:outputStylesheet library="default" name="css/styles.css"/>
</h:head>
<h:body>
    <div id="page">
    <header class="banner">
    <header><h1 class="title">moje cv</h1></header>
    <div class="pozycja">
    <nav>
        <ul>
            <li><h:link outcome="index" value="home"/></li>
            <li><h:link outcome="cv" value="CV"/></li>
        </ul>
    </nav>
    </div>
    </header>
        <section id ="cv">


        <ui:insert name="content"/>


        </section>
    <footer>&#169;Copyright 2018 <a href="http://CVmaster.pl/">CV/sebastian/abes</a></footer>
    </div>
</h:body>
</html>
